#svg {
    width: 45%;
    float: left;
    overflow: hidden;
 
}
#tablediv {
	height: 100%;
	width: 55%;
    float: center;
    overflow: hidden;
}
#table {
	height: 50%;
	width: 99%;
	overflow: hidden;
}
#chart {
	height: 40%;
	width: 55%;
	float: right;
	overflow: hidden;
}
}
#info {
	width: 100%;
	height: 20%;
}