#svg {
    width: 45%;
    height: 50%;
    float: left;
    overflow: hidden;
 
}
#tablediv {
	height: 100%;
	width: 55%;
    float: center;
    overflow: hidden;
}
#table {
	height: 20%;
	width: 99%;
	overflow: hidden;
}
#chart {
	height: 50%;
	width: 1000px;
	float: center;
	overflow: hidden;
}
.scatter {
  font-family: 'Arial', serif;
}
}
#info {
	width: 100%;
	height: 20%;
}
#content {
	height: 100%;
	font-family: 'Andada', serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}
.w3-xlarge {
	font-family: 'Gentium Book Basic', serif;
}
.title, .w3-container.w3-padding-64.w3-light-grey.w3-center.w3-large {
	font-family: "Volkhov", serif;
	letter-spacing: 2px;
}
#uva {
	width: 25px;
	height: 25px;
}
rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#axis {
  font-size: 14px;
}

path:hover {
  stroke: black;
  pointer-events: all;
}
