#svg {
    width: 45%;
    height: 50%;
    float: left;
    overflow: hidden;
 
}
#tablediv {
	height: 800px !important;
	width: 55%;
  border-left: solid #ccc;
  border-bottom: solid #ccc;
  border-width: 1px;
  border
  float: center;
  overflow-y: scroll !important;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
}
#table {
	height: 20%;
	width: 99%;
	overflow: hidden;
}
#chart {
	height: 50%;
	width: 1000px;
	float: center;
	overflow: hidden;
}
.scatter {
  font-family: 'Arial', serif;
}
}
#info {
	width: 100%;
	height: 20%;
}
#content {
	height: 100%;
	font-family: 'Andada', serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}
.w3-xlarge {
	font-family: 'Gentium Book Basic', serif;
}
.title, .w3-container.w3-padding-64.w3-light-grey.w3-center.w3-large {
	font-family: "Volkhov", serif;
	letter-spacing: 2px;
}
#uva {
	width: 25px;
	height: 25px;
}
rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tippie {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  top: 100px !important;
  left: 100px !important;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after, .d3-tippie:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tippie.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -52.5%;
}

#axis {
  font-size: 14px;
}

path:hover {
  stroke: black;
  pointer-events: all;
}

label {
  float: right;
}

.parcor {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
}

.background path {
  fill: none;
  stroke: #ddd !important;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.tool {
  font-family: 'Andada', serif;
  color: white;
}

.parcor {
  float: left;
  width: 100%;
}

tr.selected td {
  background-color: rgba(8, 81, 156, 0.6) !important;

}

tr.selectedPlayer td {
  background-color: rgba(8, 81, 156, 0.6) !important;

}


#table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.tooltips {   

  font-family: 'Andada', serif;
  color: white;
}

.logoSelected {
  border-style: solid;
  border-width: 15px;
}

.lineClicked {
  stroke: green !important;
  stroke-width: 2 !important;
}

.w3-display-middle {
  top: 60% !important;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
@keyframes arrow {
  from {opacity: 0.8;}
  to {opacity: 0.2;}
}
.arrow {
  position: center;
  padding-top: 100px;
  width: 100px;
  height: 200px;
/*  opacity: 0.8;*/
  animation-name: arrow;
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.dataTables_scrollBody {
  overflow-x: hidden !important;
}

.dataTables_info {
  display: none !important;
}

.divimage {
  padding-bottom: -100px !important;
}

.w3-button.w3-white {
  letter-spacing: 4px;
  margin: 0px !important;
  padding: 8px 16px !important;
  width: 185.55px !important;
  height: 40px !important;
}

.w3-padding.w3-black.w3-opacity-min.inverse:hover {
  background-color: steelblue !important;
  opacity: 1 !important;
}

#visuals {
  border-bottom: solid #ccc !important;
  border-width: 0.5px !important;
}

#selectedPlayer {
  stroke: #008000;
  stroke-width: 4;
  opacity: 1;

}

#table_wrapper > label:nth-child(2) {
  visibility: hidden !important;
}
#table_wrapper > label:nth-child(3) {
  visibility: hidden !important;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: -150px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid black;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid black;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.parCorTitle {
  /*font-weight: bold;*/
  font-size: 2.3125rem;
  font-family: font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.linkLogo {
  width: 100px;
  height: 100px;
  padding: 5px;
  float: left;
  display: inline-block;
}

.w3-button.w3-light-grey.w3-block {
  width: 200px !important;
}

