/*
Sebastiaan de Vries
10666168

Universiteit van Amsterdam
Minor Programmeren
Programmeerproject
*/

/* Content div font*/
#content {
  height: 100%;
  font-family: 'Andada', serif;
}

/* Map svg settings*/
#svg {
    width: 45%;
    height: 50%;
    float: left;
    overflow: hidden;
}

/* Table properties */
#tablediv {
	height: 800px !important;
	width: 55%;
  border-left: solid #ccc;
  border-bottom: solid #ccc;
  border-width: 1px;
  border
  float: center;
  overflow-y: scroll !important;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
}

#table {
	height: 20%;
	width: 99%;
	overflow: hidden;
}

/* Parallel Coordinates properties*/
path:hover {
  stroke: black;
  pointer-events: all;
}

label {
  float: right;
}

.background path {
  fill: none;
  stroke: #ddd !important;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.parcor {
  float: left;
  width: 100%;
}

/* Set background color of selected player*/
tr.selectedPlayer td {
  background-color: rgba(8, 81, 156, 0.6) !important;
}

/* Set table hover color */
#table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Set tooltip style*/
.tooltips {
  font-family: 'Andada', serif;
  color: white;
}

/* Set page title on position*/
.w3-display-middle {
  top: 60% !important;
}

/* Modified Scrollbars on the whole page */
::-webkit-scrollbar
{
  width: 12px;
  height: 12px; 
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

/* Delete x-scrollbar in DataTable */
.dataTables_scrollBody {
  overflow-x: hidden !important;
}

/* Delete footer text in DataTable */
.dataTables_info {
  display: none !important;
}

/* Dropdown in page header */
.w3-button.w3-white {
  letter-spacing: 4px;
  margin: 0px !important;
  padding: 8px 16px !important;
  width: 185.55px !important;
  height: 40px !important;
}

/* Set hover color for headers elements of the page */
.w3-padding.w3-black.w3-opacity-min.inverse:hover {
  background-color: steelblue !important;
  opacity: 1 !important;
}

/* Header for data elements */
#visuals {
  border-bottom: solid #ccc !important;
  border-width: 0.5px !important;
}

/* Parallel Coordinates selected player green*/
#selectedPlayer {
  stroke: #008000;
  stroke-width: 4;
  opacity: 1;
}

/* Removed text next to search bar*/
#table_wrapper > label:nth-child(2) {
  visibility: hidden !important;
}
#table_wrapper > label:nth-child(3) {
  visibility: hidden !important;
}
  
/* Bouncing element on the wallpaper properties */
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: -150px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid black;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid black;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* Parallel Coordinates title */
.parCorTitle {
  font-size: 2.3125rem;
  font-family: font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

/* Logo above DataTable */
.linkLogo {
  width: 100px;
  height: 100px;
  padding: 5px;
  float: left;
  display: inline-block;
}

/* Adjusted size contact button */
.w3-button.w3-light-grey.w3-block {
  width: 200px !important;
}

/* Linkedin icon */
#linkedin {
  width: 25px;
  height: 25px;
  float: left;
  display: inline-block;
}

/* Uva logo dimenions */
#uva {
  width: 25px;
  height: 25px;
}
